<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather Report</title>
</head>
<body>
  <section>
    <div>
      <h1>
        Submit a Weather Report!
      </h1>
    </div>
  </section>
  <section>
    <form method="POST">
       {% csrf_token %}
        <div>
            <div>
                <input name="lat" class="input" type="text" placeholder="Latitude">
                <input name="long" class="input" type="text" placeholder="Longitude">
                <div>
                  <input name="accu" class="form-check-input" type="checkbox" id="accu" value="accu">
                  <label for="accu">Accuweather</label>
                </div>
                <div>
                  <input name="wdc" class="form-check-input" type="checkbox" id="wdc" value="wdc">
                  <label for="wdc">Weather.com</label>
                </div>
                <div>
                  <input name="noaa" class="form-check-input" type="checkbox" id="noaa" value="noaa">
                  <label for="noaa">NOAA</label>
                </div>
                <!-- <input name="source" class="input" type="text" placeholder="Source(s)"> -->
            </div>
            <div>
                <button>
                    Get Weather
                </button>
            </div>
        </div>
    </form>
  </section>
  <section>
    <article>
        <div>
            <div>
                <p>
                  <span>Current Temp: {{ weather.temperature }} &#176; F</span>
                </p>
            </div>
        </div>
    </article>
  </section>
</body>
</html>
